streamlit
pandas
langchain
langchain-groq
langchain-openai
langchain-google-genai
matplotlib
seaborn
scikit-learn
openpyxl
odfpy
python-dotenv
pydantic
xlrd
reportlab
statsmodels
scipy
textblob
wordcloud
lifelines
